@{
    ViewBag.Title = "AboutUs";
}

<div id="content" class="content">

    <label class="title">Sobre Nós</label>

    <label>
        Este sistema foi desenvolvido pela aluna Cássia Zottis Almeida e apresenta a solução desenvolvida 
        para o Trabalho de Conclusão de Curso de Ciência da Computação apresentado a Pontifícia Universidade Católica do Rio Grande do Sul.<br />
        <b>VouJunto.com</b> popõe um suporte para auxiliar na redução de poluentes e fluxos de veículos nas grandes metrópoles através de um sistema 
        online de compartilhamento de caronas.
    </label>

    <label class="title">Nossos Serviços</label>

    <label>
        Oferecemos diversos serviços para garantir a satisfação do usuário:
    </label>

    <table class="tableAboutUs">
        <tr style="height:120px;">
            <td class="img">
                <img src="../../Content/Images/faceIcon.png" alt="Integração com Facebook"/>
            </td>
            <td class="texto">
                <label>
                    <b>Integração com Facebook:</b><br />
                    Integre sua conta do <b>VouJunto.com</b> com seu Facebook e tenha a possibilidade de importar seus amigos e publicar suas
                    caronas no seu mural.
                </label>
            </td>
            <td class="img">
                <img src="../../Content/Images/mapasIcon.png" alt="Bibliotecas Google Maps"/>
            </td>
            <td class="texto">
                <label>
                    <b>Uso de Bibliotecas Google Maps:</b><br />
                    Através do uso de bibliotecas do Google Maps, é possível delimitar o percurso de sua carona de maneira rápida e simples.
                </label>
            </td>
        </tr>
        <tr>
             <td class="img">
                <img src="../../Content/Images/brasilIcon.png" alt="Integração com Facebook"/>
            </td>
            <td class="texto">
                <label>
                    <b>Serviços por todo o Brasil:</b><br />
                    Oferecemos suporte a todas as cidades do país. Procure e encontre sua carona desejada para diversos estados com a 
                    maior facilidade.
                </label>
            </td>
        </tr>
    </table>

    <label class="title">Nossas Vantagens</label>

    <table class="tableAboutUs">
        <tr style="height:120px;">
            <td class="img">
                <img src="../../Content/Images/mundoIcon.png" alt="Proteja o meio ambiente"/>
            </td>
            <td class="texto">
                <label>
                    <b>Proteja o meio ambiente:</b><br />
                    Juntamente com o <b>VouJunto.com</b>, auxilie a natureza através da redução de poluentes e componentes
                    tóxicos ao meio ambiente.
                </label>
            </td>
            <td class="img">
                <img src="../../Content/Images/caronaIcon.png" alt="Encontre sua carona"/>
            </td>
            <td class="texto">
                <label>
                    <b>Encontre sua carona:</b><br />
                    Encontre através de seus amigos, caronas desejadas para as mais diversas localidades.
                </label>
            </td>
        </tr>
        <tr style="height:120px;">
             <td class="img">
                <img src="../../Content/Images/dolarIcon.png" alt="Receba descontos"/>
            </td>
            <td class="texto">
                <label>
                    <b>Receba descontos:</b><br />
                    A compra e venda de caronas possibilita uma compensação financeira através de descontos no valor do IPVA de seu veículo
                    ou créditos diretamente em sua conta bancária.
                </label>
            </td>
        </tr>
    </table>

</div>